.notification-section{ width:100%; float: left; margin-top: 20px; margin-bottom: 20px;}
.margin_top{
    margin-top:110px;
  }
  .notification{text-align: center; font-size:16px;}
  @media(max-width:768px){
    .margin_top{
      margin-top:11px;
    }
  }
