
<div class="loginsignupwrapper">
<button mat-button [mat-dialog-close]="true"
class="orderformclosebutton"><i class=" fa fa-close"></i></button>

  <div class="row">
      <div class="col-md-4">
        <div class="download_icon">
          <img src="assets/mapp.png"/>
        </div>
        </div>
        <div class="col-md-8 ">
          <div class="downloadapp_header">
            <p-header>
                EVPluginCharge Mobile App
            </p-header>
          </div>
          <div class="downloadapp_content">
             <p class="best_offer">
                Best offers anytime, anywhere </p>
                <p class="download_para">Download EVPluginCharge Mobile application and search nearby ev charging options 
                  </p>
          </div>
          <div class="app_redirectlink">
          <div class="ui-grid-col-6">
           <a href="https://play.google.com/store/apps/details?id=com.wih.amit.evplugincharge" target="_blank"><img src="assets/gplay.png"/>
           </a> 
            </div>
            <!-- <div class="ui-grid-col-6">
                <a href="https://itunes.apple.com/us/app/evplugincharge/id1330485925?mt=8" target="_blank">
                  <img src="assets/itunes.png"/>
                </a>
               
                </div> -->
          </div>
        </div>
      </div>
    
  </div>