booking_availablity-heading{
    
}
.margin_top{
    margin-top: 90px;
}
.back-button{
    float: left;
cursor: pointer;
}
.back_button p{
   cursor: pointer;
   color: #666;
   font-size: 14px;

}

.booking_availablity-heading h3{ 
   
    font-size: 19px;
    color: #12ae57;
    position: relative;
    padding-bottom: 9px;
    text-align: center;
}
.timeslot{
    position: relative;
}
label{ width:100%; float: left;}
label > input{
    visibility: hidden; 
    position: absolute; 
  }
  label > input { 
    
   
  }
  label > input:checked +p{ 
      border:2px solid #f00; 
     color:red
  }  
.timeslots_text{
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px #000 solid;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

    .timeslottext{border: 1px #12ae57 solid;
        border-radius: 6px;
        padding: 7px;
        text-align: center;
        font-size: 13px;
        letter-spacing: 0.5px;
      cursor: pointer;
        color: #333333;}
        .similiattimeslotSection-heading{
           
        }
            .similiattimeslotSection-heading h3{
                text-align: center;
                margin-bottom: 16px;
                font-size: 17px;
                color: #676767;
            }
        .margin_10{ width:100%; float: left; margin-top: 10px;}