
<div class="delete_wrapper">
<div class="delete_heading">
  <p>Do you want to cancel booking</p>

</div>
<div class="cancellation_rules">
  <p>Cancellation amount deduction as:</p>
</div>
<div class="cancelation_deductionRules">
  <p> 6 Hours before 10% of total value excluding GST and Electrcity</p>
  <p> 4 Hours before 20% of total value excluding GST and Electrcity</p>
  <p> 2 Hours before 40% of total value excluding GST and Electrcity</p>
  <p> 1 Hours before 60% of total value excluding GST and Electrcity</p>
</div>
<div class="yes_NoButton">
   
    <button  class="no_button closebutton" (click)="ownerMangerbookingcancel()">Yes</button>
    <button mat-button [mat-dialog-close]="true" class="no_button closebutton">No</button>
  
</div>
</div>
