<div class="container">
  
      <form id="add_vechile">
          <div class="row">
      <div class="col-md-6">
        <div class="vechleno">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="House No/Locality" value="">
              </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
          <div class="vechleno">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="LandMark" value="">
                </mat-form-field>
          </div>
        </div>
          </div>
          <div class="row">
        <div class="col-md-6">
            <div class="vechleno">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" value="">
                  </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
              <div class="vechleno">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="State" value="">
                    </mat-form-field>
              </div>
            </div>
     
       
          
          </div> 
          
          <div class="row">
            <div class="col-md-6">
                <div class="vechleno">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Pin Code" value="">
                      </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
            <div class="vechile_submit" style="width: 21%;
            margin: 27px auto;">
              <button type="submit" class="btn btn-success" 
             >Update</button>
            </div>
            </div>
          </div>
    </form>
  
</div>