<div class="add_manager margin_topoperater">
  <div class="container">
      <h5 style="text-align: center;">Add Operater</h5>
      <p-toast position="top-right"></p-toast>
    <form [formGroup]="addoperterFormFroup "  (ngSubmit)="onSubmitaddoperaterSubmit()">
    <div class="row">
     
      <div class="col-md-6">
        <div class="name">
            <mat-form-field class="addmanager-Control">
                <input matInput placeholder="Your Name" class="addmanager-Control"
                formControlName="name">
                <div class="errormesage"
                *ngIf="!addoperterFormFroup.controls['name'].valid
                && addoperterFormFroup.controls['name'].touched">
                <p>*Fields Required</p>
                </div>
              </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
          <div class="name">
              <mat-form-field class="addmanager-Control">
                  <input matInput placeholder="Email" class="addmanger-control"
                  formControlName="email">
                  <div class="errormesage"
                *ngIf="!addoperterFormFroup.controls['email'].valid
                && addoperterFormFroup.controls['email'].touched">
                <p>*Fields Are Required &  Required Full Email Address</p>
                </div>
                </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="name">
                <mat-form-field class="addmanager-Control">
                    <input matInput placeholder="Mobile" class="addmanger-control"
                    formControlName="mobile" type="number">
                    <div class="errormesage"
                *ngIf="!addoperterFormFroup.controls['mobile'].valid
                && addoperterFormFroup.controls['mobile'].touched">
                <p>*Fields Required</p>
                </div>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
              <div class="name">
                  <mat-form-field class="addmanager-Control">
                      <input matInput placeholder="Password" class="addmanger-control" type="password"
                      formControlName="password">
                      <div class="errormesage"
                *ngIf="!addoperterFormFroup.controls['password'].valid
                && addoperterFormFroup.controls['password'].touched">
                <p>*Fields Required</p>
                </div>
                    </mat-form-field>
              </div>
            </div>
           
         
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="name">
                <mat-form-field class="addmanager-Control">
                    <input matInput placeholder="Confirm Password" class="addmanger-control"
                    formControlName="c_password" type="password"
                    [errorStateMatcher]="matcher">
                    <div class="errormesage"
                    *ngIf="!addoperterFormFroup.controls['c_password'].valid
                    && addoperterFormFroup.controls['c_password'].touched">
                    <p>*Fields Required</p>
                    </div>
                    <mat-error *ngIf="addoperterFormFroup.hasError('notSame')">
                        Passwords do not match
                      </mat-error> 
                  </mat-form-field>
            </div>
            <input  type="hidden" 
            formControlName="sid" >
          </div>
          <div class="col-md-6">
              <div class="name">
                
                <button type="submit" class="btn btn-default update_button">Add Operater</button>
          </div>
        </div>
       
       
  </div>
  </form>
  </div>
</div>