.station_boookingwrapper{ width:450px; position: relative;}
.station_heading h6{text-align: center;font-weight: 900;color: green;
    }
.booking_listing{ width: 100%;}
.bookingid{ width:100%; float: left;}
.bookingid label {
    width:60%; float: left; font-size: 12px; font-weight: 700
}
.bookingid p { width:75%; float: left;
    font-size: 12px; margin-top: -9px;}
    .booking label{ font-size: 12px; font-weight: 600;}
    .booking p {font-size: 12px;margin-top: -9px;}


    .closebutton{ background: transparent; position: absolute; top: 0; right:0;
    cursor: pointer; border: 0; outline: 0;}
    hr {
        margin-top: -0.3rem !important;
        margin-bottom: 0.2rem !important;
    }