<div class="addfund_wrapper">
    <button mat-button [mat-dialog-close]="true"
    class="orderformclosebutton"><i class=" fa fa-close"></i></button>
    <div class="row">
      
      <div class="col-md-12">
        <div class="add_heading">
          <h6>Amount</h6>
        </div>
      </div>
    </div>
    <form >
    <div class="row">
    <div class="col-md-12">
      <form>
      
      <button class="btn fund_button " type="submit"
      (click)="myFunc()">Add Fund</button>
    </form>
      <!-- <div class="addfund_group">
        <input type="hidden" name="MID" value="khosla35641628159249">
        <input type="hidden" name="WEBSITE" value="WEBSTAGING">
        <input type="hidden" name="ORDER_ID" value="123">
        <input type="hidden" name="Merchant KEY" value="l6EAsR%IKFlIrG3P">
        <input type="hidden" name="CUST_ID" value="WEB">
        <input type="hidden" name="MOBILE_NO" value="8376064415">
        <input type="hidden" name="EMAIL" value="karanchopra448@yahoo.com">
        <input type="hidden" name="INDUSTRY_TYPE_ID" value="Retail">
        <input type="hidden" name="CHANNEL_ID" value="WEB">
        <input type="hidden" name="TXN_AMOUNT" value="100.12">
        <input type="hidden" name="CALLBACK_URL" value="https://securegw.paytm.in/theia/paytmCallback?=http://localhost:4200/home/user/useraccount?ORDER_ID=<123>">
        <input type="hidden" name="CHECKSUMHASH" value="Mx/tHQKweVjaB1t082qf3XoTIZkQu9AJ96c7D9sOsNIfIbYVXmB44hSLMmgE04mw4yBipCWVo1eLJxP6fJdDQfIGGNRa6yfIFuN4+8Ce7n4=">
        <button class="btn fund_button " type="submit">Add Fund</button>
    </div> -->
  </div>
  </div>
  <div class="submit_addsection">

</div>

</form>
  </div>

