
.mybookingmargin_top{
    margin-top: 120px;
}

.mybooking_heading{
    width:100%; float: left;
}
ul,li { margin: 0; padding: 0}
.mybooking_heading h6{
font-size: 20px; color: #666; text-align: center;
}
.table_heading{
    width: 100%;
    float: left;
    background: #0bb958;
    border-radius: 10px;
    color: #fff;
    padding-top: 9px;
    padding-bottom: -5px;
    /* padding-left: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: -10px;
}
.border_bottom{ width:100%; float: left; height: 1px; background: #666;}
.table_heading ul { list-style: none;}
.table_heading ul li {display: inline-block; margin-right: 40px;}
.confirmed{ width:100%; float: left;}
.confirmed ul { list-style: none;}
.confirmed ul li {
    display: inline-block; margin-right: 12px;
}
.listing_start{ width:100%; float: left; 
   margin-bottom: 20px; text-align: center; }
.facloseicon{
    font-size: 18px; 
    color: crimson;margin-right: 14px; cursor: pointer;
}
.faprinticon{
    font-size: 18px; 
    color: green; margin-right: 14px; cursor: pointer;
}
.faeyeicon{
    font-size: 18px; 
    color: #3a3a3a;margin-right: 14px; cursor: pointer;
}
@media(max-width:768px){
.mybookingmargin_top{
    margin-top: 12px;
}
}