#add_vechile .mat-form-field {
    display: block;
}
.file_choose{
    width: 25%; margin: 20px auto;
}
.vechile_submit{
    width:20%; margin: 20px auto;
}
.vechileDelete{
    cursor: pointer;
}
.vechileDelete:hover{
   color: red;
}
.margin_topvechile{
    margin-top: 90px;
}