@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{font-family: 'MyriadSetPro', sans-serif;border:0;}

.custom-class {
  position: fixed;
  background-color: pink;
  border-color: green;
  height: 30px;
  width: 30px;bottom: 124px; z-index: 999;;
}
.owl-prev{}
   .owl-prev img{    width: 32px !important;}
   .owl-next{}
   .owl-next img {width: 32px !important;}
 
  .slidder .owl-theme .owl-nav {
    position: absolute;
    margin-top: 12px;
    top: -54px;
    right: 20px;
}
.our-products .owl-theme .owl-nav {
  position: absolute;
  margin-top: 12px;
  top: -54px;
  right: 5px;
}
.testimonial .owl-theme .owl-nav {
}
 
/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } */
  @media (max-width: 992px) {
  }
  /*
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
   
  }
*/
  .ui-menubar {
    padding: 0;
    background-color: #ffffff;
    border:none !important; 
}
.ui-menubar .ui-menuitem-text {
  font-size: 14px;
  font-weight: 900;
  padding: 34px 14px 34px;
}

.ui-carousel .ui-carousel-header {
 background-color:transparent !important;
  color: #333333;
  padding: 0.571em 1em;
  border: none !important;
  margin: 0;
  font-weight: 400;
}

.tabform .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
  border: 1px solid #c8c8c8;
  
  transition: background-color 0.2s;
  width: 48% !important;
}
.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
  border:none !important;
  background: transparent;
}



.tabform .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
 background: #1ab188;;
 color: #ffffff;
 border:1px #c8c8c8 solid;
}

.tabform .ui-tabview .ui-tabview-title {
  vertical-align: middle;
  font-size: 22px; 
}
.ui-tabview .ui-tabview-panels {
  background-color: #ffffff;
  padding: 0.571em 1em;
   border:none !important;
  color: #333333;
}
.share .ui-dialog .ui-dialog-titlebar {
  background-color: rgb(255,87,34);
    color: rgb(255,255,255);
}
.share .pi {
  font-size: 1.25em;
  color: #fff;
}
     
.listing_tab .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  margin-right: 2px;
  width: 33%;
}
/* .ui-tabview.ui-tabview-top .ui-tabview-nav {
  margin-bottom: -1px;
  width: 100%;
}
*/
.faq .ui-overlaypanel {
  background-color: #ffffff;
  color: #333333;
  padding: 0;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  width: 80%;
  z-index: 1002;
    top: 45px !important;
    left: auto;
    transform: translateY(0px);
    opacity: 1;
    right: auto;
}
.fileupload .ui-fluid .ui-button {
  width: 80%;
   margin-left: 0px !important; 
}
.panel-menu .ui-overlaypanel-content {
  padding: 0px 0px;
}
.panel-menu .ui-overlaypanel .ui-overlaypanel-content {
  padding:5px 0px 10px 0px !important;
}
/*
.ui-tabview.ui-tabview-top .ui-tabview-nav {
  margin-bottom: -1px;
  width: 30%;
  float: left;
}
.ui-tabview .ui-tabview-panels {
  background-color: #ffffff;
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
 
  width: 59%;
  float: left;
}

.ui-tabview .ui-tabview-nav li {
  list-style: none;
 float:none !important;
  position: relative;
  margin: 0 .125em 1px 0;
  padding: 0;
  white-space: nowrap;
  display: block;
}
*/
.viewdeleteparent .ui-overlaypanel .ui-overlaypanel-content {
  padding: 5px 0px 10px 0px !important;
}
#fileupload .ui-fluid .ui-button {
 
  margin-left: 0px !important;
}
.ui-fluid .ui-button {
  width: 80%;
     margin-left:0 !important;
    margin-top: 27px;
}
.viewdeleteparent .ui-overlaypanel {
  background-color: #ffffff;
  color: #333333;
  padding: 0;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  width: 22%;
}
.progressbar .ui-progressbar {
  border: 0 none;
  height: 3px !important;
  background-color: #eaeaea;
}
  .ui-widget {
  
  font-size: 12px !important;
 
}
p-overlayPane{ position: absolute; top: 70% !important;}
.jj{ width:600px !important; float: left;} 
@media screen and (max-width:768px) {
  .jj{ width: 76% !important;
    margin-left: -0%;} 
  .submit_button {
    width: 44% !important;
  
}
}
@media screen and (max-width:462px) {
  .jj{ width: 60% !important;
    margin-left: -0%;} 
  .submit_button {
    width: 70% !important;
    margin-left: 8% !important;
}
.tabform .ui-tabview .ui-tabview-title {
 
  font-size: 12px; 
}
}
.mat-datepicker-content .mat-calendar {
  width: 231px !important;
  height: 295px !important;
}