<!-- <footer class="footer-background">
<div class="container">
<div class="ui-grid ui-grid-responsive ui-fluid">
<div class="ui-grid-row">
<div class="ui-md-4 ui-sm-12">
<div class="about_us">
<div class="about-heading">
<h4>About Us </h4>
</div>
<div class="about-content">
<p>KHOSLA CAPITAL SOLUTIONS PVT. LTD.The team has started
stepped into the world of Electronic Vehicle Charging Point.
Wherever you are, you will get the solution for your vehicle. 
We provide simplified solutions for EV Owners and at the same time 
we also provide the facility to the EV Vendor to list down their 
business and increase sales growth free of cost. We also provide you 
facility to promote your business and feature 
your business at the lowest cost possible. 
We have been established in 10/03/2014 by the mastermind Mr.Amit Khosla.
<a href="#" class="read_more"
[routerLink]="routerLinkabout"> Read More</a></p>
</div>

</div>
<div class="social">


<div class="social-icons">
<ul>
<li><a href="https://www.facebook.com/evplugin.charge" target="_blank">
<i class="fa fa-facebook-square"></i>
</a></li>
<li><a href="https://www.linkedin.com/company/evplugincharge/" target="_blank">
<i class="fa fa-linkedin-square"></i>
</a></li>
<li><a href="#" target="_blank">
<i class="fa fa-youtube"></i>
</a></li>

<li><a href="#" target="_blank">
<i class="fa fa-google-plus"></i>
</a></li>
</ul>
</div>


</div>
</div>

<div class="ui-md-4 ui-sm-12">
<div class="links">
<div class="about-heading">
<h4> Links </h4>
</div>
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>
<li><a href="#">EV Stations in Gurgaon

</a></li>
<li><a href="#">EV Stations in Sohna Road

</a></li>
<li><a href="#">EV Stations in Noida

</a></li>
<li><a href="#">EV Stations in Express Way

</a></li>
<li><a href="#">EV Stations in faridabad

</a></li>
<li><a href="#">EV Stations in Greater Noida

</a></li>

</ul>
</div>
</div>
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>

<li><a href="#"> Stations in Greater Noida

</a></li>
<li><a href="#"> Stations in Gurgaon

</a></li>
<li><a href="#"> Stations in Gurgaon

</a></li>
<li><a href="#"> Stations in Gurgaon

</a></li>
<li><a href="#"> Stations in Gurgaon

</a></li>
<li><a href="#"> Stations in Gurgaon

</a></li>


</ul>
</div>
</div>
</div>

</div>

<div class="ui-md-4 ui-sm-12">
<div class="policy">
<div class="policy-heading">
<h4> Terms And Policy </h4>
</div>
<div class="terms-menu">
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>

<li><a [routerLink]="routerLinkterms">Terms of Use

</a></li>
<li><a [routerLink]="routerLinkdisclaimer">Disclaimer Policy

</a></li>



</ul>
</div>
</div>
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>

<li><a [routerLink]="routerLinkprivacy">Privacy Policy

</a></li>
<li><a [routerLink]="routerLinkcancellation">Cancellation & Refund Policy

</a>
</li>

</ul>
</div>
</div>
</div>
</div>

<div class="quick_links">
<div class="quicklinks_heading">
<h4>Quick Links</h4>
</div>
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>

<li><a [routerLink]="routerLinkhome">Home
</a></li>
<li><a [routerLink]="routerLinkabout">About Us

</a></li>



</ul>
</div>
</div>
<div class="ui-grid-col-6 ui-sm-12">
<div class="link-half">
<ul>


<li><a [routerLink]="routerLinkVariable">Posting Listing for free

</a>

<li><a [routerLink]="routerLinkcontact">
Contact us
</a></li>


</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="copyright-footer">
<p> <i class="fa fa-copyright "></i> &nbsp;Copyright Khosla Capital Solutions Pvt. Ltd.</p>
</div>



-->

<footer class="footer-background">
  <div class="container">
  <div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-grid-row">
  <div class="ui-md-4 ui-sm-12">
  <div class="about_us">
  <div class="about-heading">
  <h4>About Us </h4>
  </div>
  <div class="about-content">
  <p>KHOSLA CAPITAL SOLUTIONS PVT. LTD.The team has started
  stepped into the world of Electronic Vehicle Charging Point.
  Wherever you are, you will get the solution for your vehicle. 
  We provide simplified solutions for EV Owners and at the same time 
  we also provide the facility to the EV Vendor to list down their 
  business and increase sales growth free of cost. We also provide you 
  facility to promote your business and feature 
  your business at the lowest cost possible. 
  We have been established in 10/03/2014 by the mastermind Mr.Amit Khosla.
  <a href="#" class="read_more"
  [routerLink]="routerLinkabout"> Read More</a></p>
  </div>
  
  </div>
  <div class="social">
  
  
  <div class="social-icons">
  <ul>
  <li><a href="https://www.facebook.com/evplugin.charge" target="_blank">
  <i class="fa fa-facebook-square"></i>
  </a></li>
  <li><a href="https://www.linkedin.com/company/evplugincharge/" target="_blank">
  <i class="fa fa-linkedin-square"></i>
  </a></li>
  <li><a href="#" target="_blank">
  <i class="fa fa-youtube"></i>
  </a></li>
  
  <li><a href="#" target="_blank">
  <i class="fa fa-google-plus"></i>
  </a></li>
  </ul>
  </div>
  
  
  </div>
  </div>
  
  <div class="ui-md-4 ui-sm-12">
  <div class="links">
  <div class="about-heading">
  <h4> Links </h4>
  </div>
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul>
  <li><a href="#"> EV Stations in Gurgaon
  
  </a></li>
  <li><a href="#"> EV Stations in Sohna Road
  
  </a></li>
  <li><a href="#"> EV Stations in Noida
  
  </a></li>
  <li><a href="#"> EV Stations in Express Way
  
  </a></li>
  <li><a href="#"> EV Stations in faridabad
  
  </a></li>
  <li><a href="#"> EV Stations in Greater Noida
  
  </a></li>
  
  </ul>
  </div>
  </div>
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul>
  
  <li ><a href="#"> EV Stations in Greater Noida
  
  </a></li>
  <li><a href="#"> EV Stations in Gurgaon
  
  </a></li>
  <li><a href="#"> EV Stations in Delhi
  
  </a></li>
  <li><a href="#">EV Stations in Agra
  
  </a></li>
  <li><a href="#">EV Stations in Chandigrah
  
  </a></li>
  <li><a href="#"> EV Stations in New Delhi
  
  </a></li>
  
  
  </ul>
  </div>
  </div>
  </div>
  
  </div>
  
  <div class="ui-md-4 ui-sm-12">
  <div class="policy">
  <div class="policy-heading">
  <h4> Terms And Policy </h4>
  </div>
  <div class="terms-menu">
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul style=" margin-right:5px;">
  
  <li><a [routerLink]="routerLinkterms"> Terms of Use
  
  </a></li>
  <li><a [routerLink]="routerLinkdisclaimer"> Disclaimer Policy
  
  </a></li>
  
  
  
  </ul>
  </div>
  </div>
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul>
  
  <li><a [routerLink]="routerLinkprivacy"> Privacy Policy
  
  </a></li>
  <li><a [routerLink]="routerLinkcancellation"> Cancellation & Refund Policy
  
  </a>
  </li>
  
  </ul>
  </div>
  </div>
  </div>
  </div>
  
  <div class="quick_links">
  <div class="quicklinks_heading">
  <h4>Quick Links</h4>
  </div>
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul>
  
  <li><a [routerLink]="routerLinkhome"> Home
  </a></li>
  <li><a [routerLink]="routerLinkabout"> About Us
  
  </a></li>
  
  
  
  </ul>
  </div>
  </div>
  <div class="ui-grid-col-6 ui-sm-12">
  <div class="link-half">
  <ul>
  
  
  <li><a [routerLink]="routerLinkVariable"> Listing for free
  
  </a>
  
  <li><a [routerLink]="routerLinkcontact">
  Contact us
  </a></li>
  
  
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </footer>
  <div class="copyright-footer">
  <p> <i class="fa fa-copyright "></i> &nbsp;Copyright Khosla Capital Solution Pvt. Ltd.</p>
  </div>
  
  
  
  
  